body {
    /* color: #C0C0C0; */
    background: #1D1D1D;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

.listGroupItem:hover {
    background-color: #eee;

}